{%extends 'app1/layout_nav.html'%}
{%load static%}
{%block title%}Contribute{%endblock%}
{%block body%}

<div class="airtravelbg" style="background-image: linear-gradient(rgba(0,0,0,0.85),rgba(0,0,0,0.5)),url(https://wallpaperaccess.com/full/791.jpg); height: 80vh;">
    <div class="text" style="position: relative;">
    <h1 style="margin-top: 10vh;">Join the Movement: Support Organizations <br> Fighting Climate Change!</h1>
    <h4 style="margin-top: 20vh;">Make a difference today by supporting organizations that are at the forefront of the battle against climate change. <br> Your generous contributions can fund critical initiatives, such as research, <br> advocacy, and community outreach, that pave the way for a sustainable future. </h4>
    </div>
</div>
<div class="about" style="height: 110vh; max-height: 1000px;">
    <div class="contents">
        <h1 style="margin-top: 5vh;">Why Your Contribution Matters.</h1>
        <p style="margin-top: 5vh;">Contributing to organizations that fight climate change has a profound impact. Your support helps fund vital initiatives, such as scientific research and innovative solutions to reduce greenhouse gas emissions. By empowering communities and individuals, these organizations create a ripple effect of sustainable practices and inspire others to take action. Additionally, your contributions enable climate change organizations to advocate for policy changes and raise awareness about the urgency of addressing climate change. Together, we can make a significant difference in shaping a <br> 
            sustainable and resilient future for our planet, leaving a lasting legacy for generations to come.</p>
               <a href="https://teamtrees.org/" class="btn btn-light" style="margin-top: 5vh;">Team Trees</a>
               <a href="https://theoceancleanup.com/" class="btn btn-light" style="margin-top: 5vh;">theoceancleanup</a>
               <a href="https://teamseas.org/" class="btn btn-light" style="margin-top: 5vh;">teamseas</a>
    </div>
   
</div>
{%endblock%}
{%block script%}

<script src="{% static 'app1/javascript.js'%}"></script>

{%endblock%}