{% extends "app1/layout_nav.html" %}
{%block title%}Register{%endblock%}
{%block body%}  
  <div class="login">
    <p></p>
    <div class="content">
      <div class="box">
        <h2>Sign-up for EcoImpact</h2>
        <p></p>
        {%if message%}
        <p>{{message}}</p>
        {%endif%}
        <form action="{%url 'register'%}" method="post">
          {%csrf_token%}
          <div class="inputBox">
            <input type="text" name="username" required onkeyup="this.setAttribute('value', this.value);" value="">
            <label>Username</label>
          </div>
            <div class="inputBox">
                <input type="text" name="email" required onkeyup="this.setAttribute('value', this.value);" value="">
                <label>Email</label>
          <div class="inputBox">
            <input type="password" name="password" required onkeyup="this.setAttribute('value', this.value);" value="">
            <label>Password</label>
          </div>
          <input type="submit" name="sign-in" value="Sign In">
        </form>
        <p><a href="{% url 'login'%}" class="link-info link-offset-2 link-underline-opacity-0 link-underline-opacity-30-hover">Already a User? Click here to Login.</a></p>
      </div>
    </div>
  </div>
  

{%endblock%}